.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    margin: 5px;
    text-decoration: none;
}

.scrollbar {
    position:absolute;
    background-color: #F5F5F5;
    float: left;
    height: 100%;
    margin-top: 0px;
    width: 65px;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 600px;
}

.style-3::-webkit-scrollbar {
	width: 7px;
	background-color: #F5F5F5;
}
.style-3::-webkit-scrollbar-track {
    background-color: #F5F5F5;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
	
}

.style-3::-webkit-scrollbar-thumb {
    background-color: #D62929;
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	
}

.Quick_Access_Folder {
    width:70%;
    border: 15px solid rgba(132, 146, 166, 0.144);
    border-radius:10px;
   
}
.image_wrapper {
    position:relative;
}
.image_wrapper span{
    position:absolute;
    left:59px;
    top:111px;
    font-size:80%;
    font-weight: lighter;
    color: rgb(116, 109, 109);

}
.image_wrapper p{
    position:absolute;
    left:13px;
    top:120px;
    font-size:80%;
    font-weight: lighter;
    color: rgb(116, 109, 109);

}

.share-panel {
    background-color: darkred;
}

.buttons {
    left:0;
    margin-top:16px;
    margin-left:50px;
    transition: 0.3s;
}
.button1 {
    background-color: white;
    cursor:pointer;
    width:90px;
    text-align:center;
    color:rgb(0, 0, 0);
    border:1px solid rgb(5, 218, 23);
    text-decoration: none;
    border-radius:4px;
}
.button2 {
    background-color: white;
    cursor:pointer;
    width:90px;
    text-align:center;
    margin-left:34px;
    color:rgb(0, 0, 0);
    border:1px solid rgb(185, 190, 186);
    text-decoration: none;
    border-radius:4px;
}
.button1:hover {
    background-color: #4CAF50;
    color: white;
}
  
.button2:hover {
    background-color: rgb(206, 10, 10);
    color: white;
}

.button1:focus{
    outline: blue auto 5px; 
    transition: 5s;
    background-color: rgb(55, 0, 255);
    color:white;
    width:130px;

}

.button1:active{
    background-color: rgb(255, 0, 0);
}



